#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.game {
  text-align: center;
  background-image: url('../images/backyard-entrance.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.intro-wrapper {
  width: 80%;
  height: 90%;
  background-color: rgba(11, 38, 73, 0.767);
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
}

.intro {
  box-sizing: content-box;
  height: 80%;
  width: 98%;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}


h1, h2, h3, h4, h5, .game-text {
  color: sandybrown; 
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.button-wrapper button {
  width: 10rem;
  height: 2.5rem;
  color: aliceblue;
  background-color: darkblue;
  font-weight: bold;
  border-radius: 5px;
}